.nested-fields
  = f.input_field :name, placeholder: 'Name', required: true
  = f.input_field :realm_id, collection: @realms, label_method: :label, value_method: :id, required: true
  = link_to_remove_association "remove", f
